.cropper {
  display: flex;
  .crp-item {
    width: 50%;
    height:300px;
  }
  .sh-image {
    width: 50%;
    margin-left: 10%;
    height: 300px;
    img{
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}
.mat-raised-button.back.mat-primary{
  background: transparent;
  color: #2a85ee;
  border:1px solid #2a85ee;
}
.btn-group {
  margin-top: 50px;
}
:host ::ng-deep{
  image-cropper{
    height: 100%;
    img{
      object-fit: cover;
      width:100%;
      height: 100%;
      object-position: center center;
    }
  }
}